# Ignore everything
*

# Except...

# Root folder files
!./.flake8
!./.gitignore
!./.pre-commit-config.yaml
!./pyproject.toml
!./README.md
!requirements-lint.txt
!requirements.txt
!requirements-freeze.txt
!./xfilip46-ITT-presentation.pdf
!./xfilip46-thesis-presentation.pdf
!./xfilip46-thesis.pdf
!args.yaml
!docker-compose.yml

# Root folder directories
!text
!tests
!backtester
!presentation
!.github
!data

# Files in sub folders
!.github/workflows
!.github/workflows/**
!.github/actions
!.github/actions/**
!.github/actions/setup
!.github/actions/setup/**

!backtester/args.yaml
!backtester/btc.csv

!/text/sources.txt
!/text/zadani.pdf
!/text/figures/
!/text/bib-styles/
!/text/template-fig/

!text/figures
!text/figures/**
!text/template-fig
!text/template-fig/**
!text/bib-styles
!text/bib-styles/**

!presentation/presentation.txt
!presentation/img
!presentation/img/**

# General extension
!*.py
!*.tex
!*.bib
!*.sty
!*.cls

# General names
!jogme-script.sh
!Makefile
!Dockerfile
