# Ignore everything
*

# Except...

# Root folder files
!./.flake8
!./.github
!./.gitignore
!./.pre-commit-config.yaml
!./docker-compose.yml
!./pyproject.toml
!./README.md
!./requirements-lint.txt
!./requirements.txt
!./xfilip46-ITT-presentation.pdf
!./xfilip46-thesis-presentation.pdf
!./xfilip46-thesis.pdf

# Root folder directories
!text
!tests
!backtester
!presentation

# Files in sub folders
!backtester/args.yaml
!backtester/btc.csv

!/text/sources.txt
!/text/zadani.pdf
!/text/figures/
!/text/bib-styles/
!/text/template-fig/

!text/figures
!text/figures/**
!text/template-fig
!text/template-fig/**
!text/bib-styles
!text/bib-styles/**

!presentation/presentation.txt
!presentation/img
!presentation/img/**

# General extension
!*.py
!*.tex
!*.bib
!*.sty
!*.cls

# General names
!jogme-script.sh
!Makefile
!Dockerfile
